.order {
  z-index: 1;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  background-color: #FFF;
}

.ingredient-list {
  z-index: 1;
  list-style-type: none;
  padding: 0;
  width: 150px;
}